.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.banner-content {
  color: white;
  font-size: 3em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.movies-counter{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  border: none;
  background-color: blanchedalmond;
  border-radius: 5px;
  margin: 10px 20px;

  p{
    margin: 0;
    font-weight: bold;
  }
}

.small-card {
  width: 350px;

  p {
    font-size: small;
    text-align: justify;
    padding-left: 1px;
    padding-right: 1px;
  }
}

.delete {
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: red;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.custom-button{
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #55c2da;
  color: white;
  border: none;
  border-radius: 5px;
  transition: bacground-color 0.3s ease;
  margin-bottom: 10px;

  &:hover {
    background-color: #85cbdb;
  }

}
